/* Figma Styles of your File */

:root {
  /* Colors */
  --pure-white: #ffffff;
  --white: #fefcfb;
  --cream-bg: #f9f4f2;
  --gray-bg-subtle: #f6f6f7;
  --gray-bg: #eeeeef;
  --gray-line: #e1e1e2;
  --gray-10: #bebfc2;
  --gray-20: #8a8c90;
  --gray-30: #52545b;
  --black: #272932;
  --orange: #ffa257;
  --saffron: #ffcb65;
  --saffron-light: #ffe6b5;
  --green: #c2e66e;
  --orange-subtle: #fff2e8;
  --orange-10: #ffe1c9;
  --orange-20: #ffbe8a;
  --green-light: #dff9a2;
  --green-dark: #73a107;
  --green-subtle: #edffc4;
  --saffron-subtle: #ffedc9;
  --orange-subtle2: #ffeedf;

  /* Fonts */
  --h1-32px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --h1-32px-semibold-font-size: 32px;
  --h1-32px-semibold-line-height: 106%;
  --h1-32px-semibold-font-weight: 600;
  --h1-32px-semibold-font-style: normal;
  --h1-32px-bold-font-family: Poppins-Bold, sans-serif;
  --h1-32px-bold-font-size: 32px;
  --h1-32px-bold-line-height: 106%;
  --h1-32px-bold-font-weight: 700;
  --h1-32px-bold-font-style: normal;
  --h2-28px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --h2-28px-semibold-font-size: 28px;
  --h2-28px-semibold-line-height: 108%;
  --h2-28px-semibold-font-weight: 600;
  --h2-28px-semibold-font-style: normal;
  --h2-28px-bold-font-family: Poppins-Bold, sans-serif;
  --h2-28px-bold-font-size: 28px;
  --h2-28px-bold-line-height: 108%;
  --h2-28px-bold-font-weight: 700;
  --h2-28px-bold-font-style: normal;
  --h3-26px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --h3-26px-semibold-font-size: 26px;
  --h3-26px-semibold-line-height: 108%;
  --h3-26px-semibold-font-weight: 600;
  --h3-26px-semibold-font-style: normal;
  --h3-26px-bold-font-family: Poppins-Bold, sans-serif;
  --h3-26px-bold-font-size: 26px;
  --h3-26px-bold-line-height: 108%;
  --h3-26px-bold-font-weight: 700;
  --h3-26px-bold-font-style: normal;
  --h4-24px-regular-font-family: Poppins-Regular, sans-serif;
  --h4-24px-regular-font-size: 24px;
  --h4-24px-regular-line-height: 108%;
  --h4-24px-regular-font-weight: 400;
  --h4-24px-regular-font-style: normal;
  --h4-24px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --h4-24px-semibold-font-size: 24px;
  --h4-24px-semibold-line-height: 108%;
  --h4-24px-semibold-font-weight: 600;
  --h4-24px-semibold-font-style: normal;
  --h4-24px-bold-font-family: Poppins-Bold, sans-serif;
  --h4-24px-bold-font-size: 24px;
  --h4-24px-bold-line-height: 108%;
  --h4-24px-bold-font-weight: 700;
  --h4-24px-bold-font-style: normal;
  --h5-22px-regular-font-family: Poppins-Regular, sans-serif;
  --h5-22px-regular-font-size: 22px;
  --h5-22px-regular-line-height: 108%;
  --h5-22px-regular-font-weight: 400;
  --h5-22px-regular-font-style: normal;
  --h5-22px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --h5-22px-semibold-font-size: 22px;
  --h5-22px-semibold-line-height: 108%;
  --h5-22px-semibold-font-weight: 600;
  --h5-22px-semibold-font-style: normal;
  --h5-22px-extrabold-font-family: Poppins-ExtraBold, sans-serif;
  --h5-22px-extrabold-font-size: 22px;
  --h5-22px-extrabold-line-height: 108%;
  --h5-22px-extrabold-font-weight: 800;
  --h5-22px-extrabold-font-style: normal;
  --h6-20px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --h6-20px-semibold-font-size: 20px;
  --h6-20px-semibold-line-height: 108%;
  --h6-20px-semibold-font-weight: 600;
  --h6-20px-semibold-font-style: normal;
  --h6-20px-extrabold-font-family: Poppins-ExtraBold, sans-serif;
  --h6-20px-extrabold-font-size: 20px;
  --h6-20px-extrabold-line-height: 108%;
  --h6-20px-extrabold-font-weight: 800;
  --h6-20px-extrabold-font-style: normal;
  --8px-regular-font-family: Poppins-Regular, sans-serif;
  --8px-regular-font-size: 8px;
  --8px-regular-line-height: 160%;
  --8px-regular-font-weight: 400;
  --8px-regular-font-style: normal;
  --title-18px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-18px-semibold-font-size: 18px;
  --title-18px-semibold-line-height: 120%;
  --title-18px-semibold-font-weight: 600;
  --title-18px-semibold-font-style: normal;
  --title-18px-bold-font-family: Poppins-Bold, sans-serif;
  --title-18px-bold-font-size: 18px;
  --title-18px-bold-line-height: 120%;
  --title-18px-bold-font-weight: 700;
  --title-18px-bold-font-style: normal;
  --title-16px-regular-font-family: Poppins-Regular, sans-serif;
  --title-16px-regular-font-size: 16px;
  --title-16px-regular-line-height: 124%;
  --title-16px-regular-font-weight: 400;
  --title-16px-regular-font-style: normal;
  --title-16px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-16px-semibold-font-size: 16px;
  --title-16px-semibold-line-height: 124%;
  --title-16px-semibold-font-weight: 600;
  --title-16px-semibold-font-style: normal;
  --title-16px-bold-font-family: Poppins-Bold, sans-serif;
  --title-16px-bold-font-size: 16px;
  --title-16px-bold-line-height: 124%;
  --title-16px-bold-font-weight: 700;
  --title-16px-bold-font-style: normal;
  --title-14px-regular-font-family: Poppins-Regular, sans-serif;
  --title-14px-regular-font-size: 14px;
  --title-14px-regular-line-height: 125%;
  --title-14px-regular-font-weight: 400;
  --title-14px-regular-font-style: normal;
  --title-14px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-14px-semibold-font-size: 14px;
  --title-14px-semibold-line-height: 125%;
  --title-14px-semibold-font-weight: 600;
  --title-14px-semibold-font-style: normal;
  --title-14px-bold-font-family: Poppins-Bold, sans-serif;
  --title-14px-bold-font-size: 14px;
  --title-14px-bold-line-height: 125%;
  --title-14px-bold-font-weight: 700;
  --title-14px-bold-font-style: normal;
  --title-12px-regular-font-family: Poppins-Regular, sans-serif;
  --title-12px-regular-font-size: 12px;
  --title-12px-regular-line-height: 130%;
  --title-12px-regular-font-weight: 400;
  --title-12px-regular-font-style: normal;
  --title-12px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-12px-semibold-font-size: 12px;
  --title-12px-semibold-line-height: 130%;
  --title-12px-semibold-font-weight: 600;
  --title-12px-semibold-font-style: normal;
  --title-12px-bold-font-family: Poppins-Bold, sans-serif;
  --title-12px-bold-font-size: 12px;
  --title-12px-bold-line-height: 130%;
  --title-12px-bold-font-weight: 700;
  --title-12px-bold-font-style: normal;
  --title-11px-regular-font-family: Poppins-Regular, sans-serif;
  --title-11px-regular-font-size: 11px;
  --title-11px-regular-line-height: 124%;
  --title-11px-regular-font-weight: 400;
  --title-11px-regular-font-style: normal;
  --title-11px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-11px-semibold-font-size: 11px;
  --title-11px-semibold-line-height: 124%;
  --title-11px-semibold-font-weight: 600;
  --title-11px-semibold-font-style: normal;
  --title-11px-bold-font-family: Poppins-Bold, sans-serif;
  --title-11px-bold-font-size: 11px;
  --title-11px-bold-line-height: 124%;
  --title-11px-bold-font-weight: 700;
  --title-11px-bold-font-style: normal;
  --title-10px-regular-font-family: Poppins-Regular, sans-serif;
  --title-10px-regular-font-size: 10px;
  --title-10px-regular-line-height: 135%;
  --title-10px-regular-font-weight: 400;
  --title-10px-regular-font-style: normal;
  --title-10px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --title-10px-semibold-font-size: 10px;
  --title-10px-semibold-line-height: 135%;
  --title-10px-semibold-font-weight: 600;
  --title-10px-semibold-font-style: normal;
  --title-10px-bold-font-family: Poppins-Bold, sans-serif;
  --title-10px-bold-font-size: 10px;
  --title-10px-bold-line-height: 135%;
  --title-10px-bold-font-weight: 700;
  --title-10px-bold-font-style: normal;
  --title-9px-regular-font-family: Poppins-Regular, sans-serif;
  --title-9px-regular-font-size: 9px;
  --title-9px-regular-line-height: 135%;
  --title-9px-regular-font-weight: 400;
  --title-9px-regular-font-style: normal;
  --title-8px-regular-font-family: Poppins-Regular, sans-serif;
  --title-8px-regular-font-size: 8px;
  --title-8px-regular-line-height: 130%;
  --title-8px-regular-font-weight: 400;
  --title-8px-regular-font-style: normal;
  --title-12px-medium-font-family: Poppins-Medium, sans-serif;
  --title-12px-medium-font-size: 12px;
  --title-12px-medium-line-height: 130%;
  --title-12px-medium-font-weight: 500;
  --title-12px-medium-font-style: normal;
  --title-12px-medium-font-family: Poppins-Medium, sans-serif;
  --title-12px-medium-font-size: 12px;
  --title-12px-medium-line-height: 130%;
  --title-12px-medium-font-weight: 500;
  --title-12px-medium-font-style: normal;
  --btn-11px-medium-font-family: Poppins-Medium, sans-serif;
  --btn-11px-medium-font-size: 11px;
  --btn-11px-medium-line-height: 105%;
  --btn-11px-medium-font-weight: 500;
  --btn-11px-medium-font-style: normal;
  --btn-11px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --btn-11px-semibold-font-size: 11px;
  --btn-11px-semibold-line-height: 105%;
  --btn-11px-semibold-font-weight: 600;
  --btn-11px-semibold-font-style: normal;
  --btn-12px-medium-font-family: Poppins-Medium, sans-serif;
  --btn-12px-medium-font-size: 12px;
  --btn-12px-medium-line-height: 100%;
  --btn-12px-medium-font-weight: 500;
  --btn-12px-medium-font-style: normal;
  --btn-12px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --btn-12px-semibold-font-size: 12px;
  --btn-12px-semibold-line-height: 100%;
  --btn-12px-semibold-font-weight: 600;
  --btn-12px-semibold-font-style: normal;
  --btn-14px-medium-font-family: Poppins-Medium, sans-serif;
  --btn-14px-medium-font-size: 14px;
  --btn-14px-medium-line-height: 100%;
  --btn-14px-medium-font-weight: 500;
  --btn-14px-medium-font-style: normal;
  --btn-14px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --btn-14px-semibold-font-size: 14px;
  --btn-14px-semibold-line-height: 100%;
  --btn-14px-semibold-font-weight: 600;
  --btn-14px-semibold-font-style: normal;
  --p-16px-regular-font-family: Poppins-Regular, sans-serif;
  --p-16px-regular-font-size: 16px;
  --p-16px-regular-line-height: 140%;
  --p-16px-regular-font-weight: 400;
  --p-16px-regular-font-style: normal;
  --p-16px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --p-16px-semibold-font-size: 16px;
  --p-16px-semibold-line-height: 140%;
  --p-16px-semibold-font-weight: 600;
  --p-16px-semibold-font-style: normal;
  --p-16px-bold-font-family: Poppins-Bold, sans-serif;
  --p-16px-bold-font-size: 16px;
  --p-16px-bold-line-height: 140%;
  --p-16px-bold-font-weight: 700;
  --p-16px-bold-font-style: normal;
  --p-14px-regular-font-family: Poppins-Regular, sans-serif;
  --p-14px-regular-font-size: 14px;
  --p-14px-regular-line-height: 140%;
  --p-14px-regular-font-weight: 400;
  --p-14px-regular-font-style: normal;
  --p-14px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --p-14px-semibold-font-size: 14px;
  --p-14px-semibold-line-height: 140%;
  --p-14px-semibold-font-weight: 600;
  --p-14px-semibold-font-style: normal;
  --p-14px-bold-font-family: Poppins-Bold, sans-serif;
  --p-14px-bold-font-size: 14px;
  --p-14px-bold-line-height: 140%;
  --p-14px-bold-font-weight: 700;
  --p-14px-bold-font-style: normal;
  --p-12px-regular-font-family: Poppins-Regular, sans-serif;
  --p-12px-regular-font-size: 12px;
  --p-12px-regular-line-height: 150%;
  --p-12px-regular-font-weight: 400;
  --p-12px-regular-font-style: normal;
  --p-12px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --p-12px-semibold-font-size: 12px;
  --p-12px-semibold-line-height: 150%;
  --p-12px-semibold-font-weight: 600;
  --p-12px-semibold-font-style: normal;
  --p-12px-bold-font-family: Poppins-Bold, sans-serif;
  --p-12px-bold-font-size: 12px;
  --p-12px-bold-line-height: 150%;
  --p-12px-bold-font-weight: 700;
  --p-12px-bold-font-style: normal;
  --p-11px-regular-font-family: Poppins-Regular, sans-serif;
  --p-11px-regular-font-size: 11px;
  --p-11px-regular-line-height: 160%;
  --p-11px-regular-font-weight: 400;
  --p-11px-regular-font-style: normal;
  --p-11px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --p-11px-semibold-font-size: 11px;
  --p-11px-semibold-line-height: 160%;
  --p-11px-semibold-font-weight: 600;
  --p-11px-semibold-font-style: normal;
  --p-11px-bold-font-family: Poppins-Bold, sans-serif;
  --p-11px-bold-font-size: 12px;
  --p-11px-bold-line-height: 150%;
  --p-11px-bold-font-weight: 700;
  --p-11px-bold-font-style: normal;
  --p-10px-regular-font-family: Poppins-Regular, sans-serif;
  --p-10px-regular-font-size: 10px;
  --p-10px-regular-line-height: 160%;
  --p-10px-regular-font-weight: 400;
  --p-10px-regular-font-style: normal;
  --p-10px-semibold-font-family: Poppins-SemiBold, sans-serif;
  --p-10px-semibold-font-size: 10px;
  --p-10px-semibold-line-height: 160%;
  --p-10px-semibold-font-weight: 600;
  --p-10px-semibold-font-style: normal;
  --p-10px-bold-font-family: Poppins-Bold, sans-serif;
  --p-10px-bold-font-size: 10px;
  --p-10px-bold-line-height: 160%;
  --p-10px-bold-font-weight: 700;
  --p-10px-bold-font-style: normal;

  /* Effects */
  --shadow-box-shadow: 0px 4px 12px 0px rgba(176, 176, 176, 0.14);
}
/* Figma Color Variables of your File */
:root,
[data-colors-mode="mode-1"] {
  /* mode-1 */
  --water: #9cd9ff;
}


/* index.html - styles */
a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   
