<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.nomnom.model.dao.AttachmentDao">

	<!-- 첨부파일 조회(글에 포함된 모두) -->
	<select id="selectAttachmentByTargetAndNo" resultType="Attachment" parameterType="Attachment">
		SELECT
		attachment_no AS attachmentNo,
		attachment_target AS
		attachmentTarget,
		target_no AS targetNo,
		attachment_name AS attachmentName,
		attachment_reg_date AS attachmentRegDate
		FROM attachment
		WHERE
		attachment_target = #{attachmentTarget}
		AND target_no = #{targetNo}
	</select>


	<!-- 첨부파일 등록 -->
	<insert id="insertAttachment"  parameterType="Attachment">
		INSERT INTO attachment (
		attachment_target,
		target_no,
		attachment_name,
		attachment_reg_date
		)
		VALUES (
		#{attachmentTarget},
		#{targetNo},
		#{attachmentName},
		#{attachmentRegDate}
		)
	</insert>

	<!-- 첨부파일 삭제(글에 포함된 모두) -->
	<delete id="deleteAttachmentByTargetAndNo" parameterType="Attachment">
		DELETE FROM attachment
		WHERE attachment_target =
		#{attachmentTarget}
		AND target_no = #{targetNo}
	</delete>

	<!-- 첨부파일 삭제(단일) -->
	<delete id="deleteAttachment" parameterType="int">
		DELETE FROM attachment
		WHERE attachment_no = #{attachmentNo}
	</delete>

</mapper>
