<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.mvc.model.dao.MealDao">

	<!-- 식단 조회(사용자별/오늘) -->
	<select id="selectMealByUserToday">
		select m.meal_no, meal_title, meal_time,
		(select
		sum(calories) from meal_food where meal_no = m.meal_no) as cal_sum,
		(select sum(carbohydrates) from meal_food where meal_no = m.meal_no)
		as carb_sum,
		(select sum(protein) from meal_food where meal_no =
		m.meal_no) as pro_sum,
		(select sum(fat) from meal_food where meal_no =
		m.meal_no) as fat_sum
		from meal m
		where meal_reg_date = #{regDate}
	</select>

	<!-- 식단 조회(단일) -->
	<select id="selectFoodByMealFoodNo">
		select meal_food_no, meal_no, food_no, food_amount,
		food_title, food_category
		calories, carbohydrates, protein, fat,
		saturated_fat, unsaturated_fat,
		cholesterol,
		sodium, sugar, calcium,
		vitamin, iron, mineral
		from meal_food
		WHERE meal_food_no = #{mealFoodNo}
	</select>

	<!-- 식단 등록 -->
	<insert id="insertMeal">
		INSERT INTO meal
		(user_no, meal_reg_date, meal_time,
		meal_title, meal_content)
		VALUES (#{user_no}, #{meal_reg_date},
		#{meal_time}, #{meal_title}, #{meal_content})
	</insert>


	<!-- 식단_음식 등록 -->
	<insert id="insertMealFood">
		INSERT INTO meal_food (
		meal_no, food_no, food_amount,
		food_title, food_category
		calories, carbohydrates, protein, fat,
		saturated_fat, unsaturated_fat,
		cholesterol,
		sodium, sugar, calcium,
		vitamin, iron, mineral
		) VALUES (
		#{mealNo}, #{foodNo},
		#{foodAmount},
		#{mealTitle}, #{mealCategory},
		#{calories}, #{carbohydrates},
		#{protein}, #{fat},
		#{saturatedFat}, #{unsaturatedFat}, #{cholesterol},
		#{sodium},
		#{sugar}, #{calcium}, #{vitamin}, #{iron}, #{mineral}
		)
	</insert>

	<!-- 식단 삭제 -->
	<delete id="deleteMeal">
		delete from meal
		where meal_no = #{meal_no}
	</delete>

	<!-- 식단_음식 삭제 -->
	<delete id="deleteMealFood">
		delete from meal_food
		where meal_food_no =
		#{meal_food_no}
	</delete>


</mapper>