.modal,
.modal * {
  box-sizing: border-box;
}
.modal {
  background: var(--cream-bg, #f9f4f2);
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.main-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-18 {
  padding: 10px 20px 10px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.day {
  display: flex;
  flex-direction: row;
  gap: 7px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.year {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.year2 {
  color: #000000;
  text-align: center;
  font-family: var(--h6-20px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--h6-20px-semibold-font-size, 20px);
  line-height: var(--h6-20px-semibold-line-height, 108%);
  font-weight: var(--h6-20px-semibold-font-weight, 600);
  position: relative;
}
.div {
  color: #000000;
  text-align: center;
  font-family: var(--h6-20px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--h6-20px-semibold-font-size, 20px);
  line-height: var(--h6-20px-semibold-line-height, 108%);
  font-weight: var(--h6-20px-semibold-font-weight, 600);
  position: relative;
}
.month {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.month2 {
  color: #000000;
  text-align: center;
  font-family: var(--h6-20px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--h6-20px-semibold-font-size, 20px);
  line-height: var(--h6-20px-semibold-line-height, 108%);
  font-weight: var(--h6-20px-semibold-font-weight, 600);
  position: relative;
}
.day2 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.day3 {
  color: #000000;
  text-align: center;
  font-family: var(--h6-20px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--h6-20px-semibold-font-size, 20px);
  line-height: var(--h6-20px-semibold-line-height, 108%);
  font-weight: var(--h6-20px-semibold-font-weight, 600);
  position: relative;
}
.badges-info {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.badge-meal-category {
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.badge-breakfast {
  background-color: #c2e66e;
}

.badge-lunch {
  background-color: #ffcb65;
}

.badge-dinner {
  background-color: #ffa257;
}

.badge-snack {
  background-color: #e1e1e2;
}
.category {
  color: var(--gray-30, #52545b);
  text-align: left;
  font-family: var(--btn-11px-medium-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--btn-11px-medium-font-size, 11px);
  line-height: var(--btn-11px-medium-line-height, 105%);
  font-weight: var(--btn-11px-medium-font-weight, 500);
  position: relative;
}
.head-info {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 99px;
  position: relative;
}
.action {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 45px;
  position: relative;
}
.button-picker {
  background: var(--green, #c2e66e);
  border-radius: 8px;
  padding: 6px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.text {
  padding: 3px 0px 3px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.label {
  color: var(--black, #272932);
  text-align: center;
  font-family: var(--btn-11px-medium-font-family, "Poppins-Medium", sans-serif);
  font-size: var(--btn-11px-medium-font-size, 11px);
  line-height: var(--btn-11px-medium-line-height, 105%);
  font-weight: var(--btn-11px-medium-font-weight, 500);
  position: relative;
}
.button-picker2 {
  background: var(--orange-20, #ffbe8a);
  border-radius: 8px;
  padding: 6px 12px 6px 12px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.frame-13 {
  background: var(--white, #fefcfb);
  border-radius: 13px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  height: 380px;
}
.frame-17 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-20 {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.name {
  color: var(--black, #272932);
  text-align: left;
  font-family: var(--title-18px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-18px-semibold-font-size, 18px);
  line-height: var(--title-18px-semibold-line-height, 120%);
  font-weight: var(--title-18px-semibold-font-weight, 600);
  position: relative;
  align-self: stretch;
}
.name2 {
  color: var(--gray-20, #8a8c90);
  text-align: left;
  font-family: var(--title-14px-regular-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--title-14px-regular-font-size, 14px);
  line-height: var(--title-14px-regular-line-height, 125%);
  font-weight: var(--title-14px-regular-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.frame-172 {
  background: var(--gray-bg-subtle, #f6f6f7);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
  width: 500px;
}
.frame-202 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  height: 297px;
  position: relative;
  overflow: hidden;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  height: 100%;
  width: 100%;

  /* 스크롤 추가 */
  overflow-y: auto; /* 세로 스크롤 */
  padding-right: 8px; /* 스크롤 여백 */
}
.card-list-all-menu {
  background: var(--pure-white, #ffffff);
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-122 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.frame-123 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.name3 {
  color: var(--black, #272932);
  text-align: left;
  font-family: var(--title-16px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-16px-semibold-font-size, 16px);
  line-height: var(--title-16px-semibold-line-height, 124%);
  font-weight: var(--title-16px-semibold-font-weight, 600);
  position: relative;
}
.nutrition-info {
  background: var(--pure-white, #ffffff);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.info-cal {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.amount {
  color: var(--gray-30, #52545b);
  text-align: left;
  font-family: var(--title-11px-regular-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--title-11px-regular-font-size, 11px);
  line-height: var(--title-11px-regular-line-height, 124%);
  font-weight: var(--title-11px-regular-font-weight, 400);
  position: relative;
}
.separator {
  flex-shrink: 0;
  width: 0px;
  height: 14px;
  position: relative;
  overflow: visible;
  border-right: 1px #333333 solid;
}
.separator2 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.unit {
  color: var(--gray-30, #52545b);
  text-align: left;
  font-family: var(--title-11px-regular-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--title-11px-regular-font-size, 11px);
  line-height: var(--title-11px-regular-line-height, 124%);
  font-weight: var(--title-11px-regular-font-weight, 400);
  position: relative;
}
.icon-special-fire {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.value {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.separator3 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.info-carbs {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-special-bread {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.value2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.separator4 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.info-protein {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-special-fish {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.value3 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.separator5 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.info-fats {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.icon-special-drop {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator6 {
  flex-shrink: 0;
  width: 0px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.separator7 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-fire2 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator8 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-bread2 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator9 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-fish2 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator10 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-drop2 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator11 {
  flex-shrink: 0;
  width: 0px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.separator12 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-fire3 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator13 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-bread3 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator14 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-fish3 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator15 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-drop3 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator16 {
  flex-shrink: 0;
  width: 0px;
  height: 14px;
  position: relative;
  overflow: visible;
}
.separator17 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-fire4 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator18 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-bread4 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator19 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-fish4 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.separator20 {
  align-self: stretch;
  flex-shrink: 0;
  width: 0px;
  height: auto;
  position: relative;
  overflow: visible;
}
.icon-special-drop4 {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  position: relative;
  overflow: visible;
}
.menu-nav {
  background: var(--white, #fefcfb);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  width: 9px;
  position: relative;
}
.button-nav {
  background: var(--gray-line, #e1e1e2);
  border-radius: 7px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 177.5px;
  position: relative;
  overflow: hidden;
}
.button-nav2 {
  border-radius: 7px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.image {
  background: var(--blue-subtle, #f3faff);
  border-radius: 16px;
  flex-shrink: 0;
  width: 377px;
  height: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1;
}
.place-image-here {
  width: 711px;
  height: 468px;
  position: absolute;
  left: -243px;
  top: 0px;
  object-fit: cover;
}
.chevron-left {
  width: 54px;
  height: 60px;
  position: absolute;
  left: 0px;
  top: 159px;
  overflow: visible;
}
.chevron-right {
  width: 54px;
  height: 60px;
  position: absolute;
  left: 323px;
  top: 159px;
  overflow: visible;
}
.frame-203 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-204 {
  padding: 0px 10px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.title {
  color: #000000;
  text-align: center;
  font-family: var(--h6-20px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--h6-20px-semibold-font-size, 20px);
  line-height: var(--h6-20px-semibold-line-height, 108%);
  font-weight: var(--h6-20px-semibold-font-weight, 600);
  position: relative;
}
.frame-16 {
  background: var(--white, #fefcfb);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  padding: 30px;
  height: 430px;
}
.frame-132 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.frame-14 {
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.group-15 {
  align-self: stretch;
  flex-shrink: 0;
  height: 33px;
  position: static;
}
.frame-142 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 418.5px;
  position: absolute;
  left: 20px;
  top: 12px;
}
.title2 {
  color: var(--black, #272932);
  text-align: left;
  font-family: var(--title-14px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-14px-semibold-font-size, 14px);
  line-height: var(--title-14px-semibold-line-height, 125%);
  font-weight: var(--title-14px-semibold-font-weight, 600);
  position: relative;
  width: 70px;
}
.title3 {
  color: var(--gray-30, #52545b);
  text-align: left;
  font-family: var(--title-14px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-14px-semibold-font-size, 14px);
  line-height: var(--title-14px-semibold-line-height, 125%);
  font-weight: var(--title-14px-semibold-font-weight, 600);
  position: relative;
}
.menu-nav2 {
  background: var(--gray-bg, #eeeeef);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 418.5px;
  height: 5px;
  position: absolute;
  left: 20px;
  top: 40px;
}
.button-nav3 {
  background: var(--green, #c2e66e);
  border-radius: 7px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-133 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 50%;
  justify-content: space-between;
}
.frame-134 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title4 {
  color: var(--gray-30, #52545b);
  text-align: left;
  font-family: var(--title-14px-regular-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--title-14px-regular-font-size, 14px);
  line-height: var(--title-14px-regular-line-height, 125%);
  font-weight: var(--title-14px-regular-font-weight, 400);
  position: relative;
}
.frame-143 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-15 {
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button-nav4 {
  background: var(--orange, #ffa257);
  border-radius: 7px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-135 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-162 {
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  justify-content: space-between;
}
.button-nav5 {
  background: var(--saffron, #ffcb65);
  border-radius: 7px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-173 {
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.button-nav6 {
  background: var(--water, #9cd9ff);
  border-radius: 7px;
  padding: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.frame-26 {
  border-style: solid;
  border-color: var(--gray-line, #e1e1e2);
  border-width: 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1px;
  height: 370px;
  position: relative;
  overflow: hidden;
}
.frame-136 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
  width: 50%;
}
.frame-144 {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-174 {
  border-style: solid;
  border-color: var(--gray-30, #52545b);
  border-width: 0px 0px 0.3px 0px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.title5 {
  color: var(--black, #272932);
  text-align: left;
  font-family: var(--title-14px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-14px-semibold-font-size, 14px);
  line-height: var(--title-14px-semibold-line-height, 125%);
  font-weight: var(--title-14px-semibold-font-weight, 600);
  position: relative;
  width: 65px;
}
.frame-137 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-182 {
  border-style: solid;
  border-color: var(--gray-30, #52545b);
  border-width: 0px 0px 0.3px 0px;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-138 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.frame-152 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-163 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-175 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-19 {
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-183 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-192 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-205 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
/* 남겨둘 클래스만 유지됨 */

.detail-div3 {
  background: #ffffff;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.detail-frame-16 {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.detail-group-18 {
  display: flex;
  flex-shrink: 0;
  position: static;
  flex-direction: column;
  align-items: center;
}

.detail-chart-doughnut-name {
  color: var(--black, #272932);
  text-align: left;
  font-family: var(--title-14px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-14px-semibold-font-size, 14px);
  line-height: var(--title-14px-semibold-line-height, 125%);
  font-weight: var(--title-14px-semibold-font-weight, 600);
  position: relative;
}

.detail-frame-162 {
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.detail-frame-133 {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 46%;
}

.detail-frame-133-1 {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 46%;
}

.detail-frame-14 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.detail-frame-14-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.detail-group-15 {
  align-self: stretch;
  flex-shrink: 0;
  height: fit-content;
  position: static;
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.detail-frame-142 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.detail-title5 {
  color: var(--black, #272932);
  text-align: left;
  font-family: var(--title-14px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-14px-semibold-font-size, 14px);
  line-height: var(--title-14px-semibold-line-height, 125%);
  font-weight: var(--title-14px-semibold-font-weight, 600);
  position: relative;
  width: 70px;
}

.detail-title6 {
  color: var(--gray-30, #52545b);
  text-align: left;
  font-family: var(--title-14px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-14px-semibold-font-size, 14px);
  line-height: var(--title-14px-semibold-line-height, 125%);
  font-weight: var(--title-14px-semibold-font-weight, 600);
  position: relative;
}

.detail-menu-nav3 {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 5px;
  left: 15px;
  top: 38px;
}

.detail-frame-134 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
  width: 100%;
}

.detail-frame-135 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.detail-title7 {
  color: var(--gray-30, #52545b);
  text-align: left;
  font-family: var(--title-14px-regular-font-family, "Poppins-Regular", sans-serif);
  font-size: var(--title-14px-regular-font-size, 12px);
  line-height: var(--title-14px-regular-line-height, 125%);
  font-weight: var(--title-14px-regular-font-weight, 400);
  position: relative;
}

.detail-frame-143 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.detail-title8 {
  color: var(--black, #272932);
  text-align: left;
  font-family: var(--title-14px-semibold-font-family, "Poppins-SemiBold", sans-serif);
  font-size: var(--title-14px-semibold-font-size, 14px);
  line-height: var(--title-14px-semibold-line-height, 125%);
  font-weight: var(--title-14px-semibold-font-weight, 600);
  position: relative;
  width: 95px;
}
.detail-frame-18 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detail-frame-137 {
  width: 100%;
}
.detail-frame-19 {
  width: 100%;
}
.chart-bar {
  width: 143px;
  height: 5px;
  border-radius: 10;
  display: block;
}
.detail-separator {
  width: 100%;
  border-bottom: 1px #b4b4b4 solid;
}
.detail-separator-1 {
  height: 100%;
  border-left: 1px #b4b4b4 solid;
}
.image-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 24px;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  z-index: 1;
}
.arrow.left {
  left: 10px;
}
.arrow.right {
  right: 10px;
}
